<div class="row">
  <div class="col-xs-12 text-right">
    <a routerLink="/providers/new" class="btn btn-success">Add Provider</a>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-12">
    <table
      class="table table-striped table-bordered"
      *ngIf="providers && providers.length > 0; else noProviders"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Service Type</th>
          <th>Location</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let provider of providers">
          <td>{{ provider.providerName }}</td>
          <td>{{ provider.serviceType }}</td>
          <td>{{ provider.city }}, {{ provider.state }}</td>
          <td>{{ provider.status }}</td>
          <td>
            <a [routerLink]="['/providers', provider._id]" class="btn btn-info btn-xs">View</a>
            <a [routerLink]="['/providers', provider._id, 'edit']" class="btn btn-warning btn-xs"
              >Edit</a
            >
            <button class="btn btn-danger btn-xs" (click)="deleteProvider(provider._id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noProviders>
      <p>No providers found.</p>
    </ng-template>
  </div>
</div>
